body{
    display:flex;
    background-color: white;
    color: black;
    font-family: courier, monospace, sans-serif;
    border: 5px black solid;
    padding: 5px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    
}

.site-title {
    padding-top: 30px;
}
img, video{
	max-width: 100%;
	height: auto;
}

header {
    display: flex;
    align-content: center; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    align-content: center;
}
nav ul {
    padding-top: 35px;
    padding-left: 0;
}
nav li {
    list-style: none; 
}
a:link {
    color:black;
    text-decoration: none;
}

   
a:visited{
    color:gray
}



main {
    text-align: center
}

img {
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
 
}

.selfphoto {
   max-width: 100%;
   height: auto;
}


footer {
    text-align: center;
}